.form {
    margin-left: 150px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
}

div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}